.featuredGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--space-4);
}

@media (min-width: 768px) {
  .featuredGrid {
    grid-template-columns: repeat(6, 1fr);
    gap: var(--space-4);
  }
}
